.navbar {
    background-color: slategray;
/* TODO: Need to maybe mess with margin defaults to cover full width. 200% height doesn't work but px does. Has to be a better way than a hardcoded amount to account for smaller resolution scaling. Need to check if there's a non-flexbox way of doing this. Maybe check how to do a gradient or an image on the navbar.*/
    display: flex;
    align-items: center;
    width: 100%;
    height: 50px;
}

.nav-spacing {
    padding: 5px;
}

body {
    background-color: lightcyan;
}